body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../Images/hotel.jpg");
    background-size: cover;
    font-weight: 550;
    cursor: pointer;
}

.topnav {
    padding-left: 15%;
    display: flex;
    /* overflow: hidden; */
    /* margin: auto; */
    margin-bottom: 2%;
    align-items: center;
    /* position: fixed;
    top: 0%; */

}

.topnav img {
    height: 3cm;
    position: relative;
}

.img6:hover {
    transform: scale(1.2);
}

.mains img:hover {
    transform: scale(1.2);
}

.img5:hover {
    transform: scale(1.2);
}

.img7:hover {
    transform: scale(1.15);
}

.img8:hover {
    transform: scale(1.15);
}

.topnav a {
    /* float: left; */
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    transition-duration: 2.5s;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

#add_para {
    height: 2%;
    margin-left: 20%;
    width: fit-content;
    font-size: small;
}

.add_form {
    height: 2%;
    margin-left: 10%;
    /* margin-left: 20%; */
    width: fit-content;
    font-size: small;
}

.formcont {
    /* margin: auto; */
    font-weight: 550;
    display: grid;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: bisque;
    background-image: url('../Images/room.jpg');
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    /* opacity: 0.9; */
}

.formcont select {
    width: 50%;
    height: 25px;
    border: none;
    border-bottom: 2px solid purple;
}

.formcont input:where([type="checkbox"], [type="radio"]) {
    /* -webkit-appearance: none; */
    /* appearance: none; */
    /* float: right; */
    width: 22px;
    height: 22px;
    margin: calc(0.75em - 11px) 0.25rem 0 0;
    vertical-align: top;
    border: 2px solid #ddd;
    border-radius: 4px;
    background: #fff no-repeat center center;
}

.indexcont {
    /* margin: auto; */
    font-weight: 550;
    display: grid;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    /* background-color: bisque; */
    /* background-image: url('../Images/room.jpg'); */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    /* opacity: 0.9; */
}

.formcont h1 {
    margin-left: 40%;
    width: fit-content;
}

.formcont button {
    margin-left: 45%;
    background-color: #0066a2;
    color: white;
    border-style: outset;
    height: 50px;
    width: 100px;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    font-size: 20px;
    margin-top: 5%;
}

/* .logout {
    margin-left: 45%;
    background-color: #ff1e00b4;
    color: white;
    border-style: outset;
    height: 50px;
    width: 100px;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    font-size: 20px;
    margin-top: 5%;
} */

.logout {
    /* margin-left: 45%; */
    background-color: #0da000be;
    color: white;
    border-style: outset;
    height: 50px;
    width: 100px;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    font-size: 20px;
    margin-top: 5%;
}

textarea {
    float: right;
    margin-right: 12%;
    border: none;
    border-bottom: 2px solid purple;
}

.info {
    margin-left: 20%;
    text-align: center;
}

.a33,
.a34,
.a35,
.a36,
.a37,
.a38 {
    margin-left: 39%;
}

form img {
    height: 0.5cm;
    text-align: center;
}

.a30 {
    margin-left: 12.4%;
}

/* .formcont input{
    float: right;
    margin-right: 12%;
} */

.a2,
.a4,
.a6,
.a8,
.a10,
.a12,
.a14 {
    float: right;
    margin-right: 12%;
}

.a16,
.a18 {
    margin-right: 12%;
    width: 50.5%;
    float: right;
    height: 25px;
}

footer {
    color: blue;
    background-color: cornsilk;
    position: relative;
    margin-bottom: 0px;
    bottom: 0%;
    height: 10%;
    width: 100%;
    text-align: center;
}

/* form label{
    margin-left: 20%;
} */

.a1,
.a3,
.a5,
.a7,
.a9,
.a11,
.a13,
.a15,
.a17,
.a19 {
    margin-left: 20%;
}

.a17 {
    margin-right: 8%;
    /* margin: 1% 1%; */
}

.a19 {
    margin-right: 10%;
}

.feedback {
    margin-left: 20%;
}

/* form input{
    margin-left: 5%;
    width: 50%;
    height: 25px;
    border: none;
    border-bottom: 2px solid purple;
} */

.a2,
.a4,
.a6,
.a8,
.a10,
.a12,
.a14 {
    margin-left: 5%;
    width: 50%;
    height: 25px;
    border: none;
    border-bottom: 2px solid purple;
}

.a16,
.a18 {
    height: 25px;
}

form {
    margin: 5%;
    padding: 5%;
    /* background-color: rgba(238,255,27,1.0); */
    backdrop-filter: blur(10px);
    background-color: rgba(127, 151, 186, 0.5);
}

.contactus {
    padding: 2.5%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 204, 0, 0.5);
    margin-left: 5%;
    margin-right: 5%;
}

.contactheading {
    margin-left: 5%;
}

.contactform form {
    /* margin: 5%; */
    padding: 3%;
}

.contactform h1 {
    margin-top: 5%;
    margin-bottom: 0%;
    color: aquamarine;
}

.contactform label {
    margin-left: 5%;
}

.contactform input {
    float: right;
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
    height: 25px;
    border: none;
    border-bottom: 2px solid purple;
}

.contactform textarea {
    float: right;
    margin-right: 5%;
    /* width: 50%; */
    /* margin-right: 12%; */
    border: none;
    border-bottom: 2px solid purple;
}

.contactform button {
    margin-left: 45%;
    background-color: #0066a2;
    color: white;
    border-style: outset;
    height: 50px;
    width: 100px;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    font-size: 20px;
    margin-top: 5%;
}

.submitresponse {
    background-color: rgba(255, 228, 196, 0.8);
    /* background: transparent; */
    margin: 2% 2% 1% 1%;
    padding: 5%;
}

div {
    height: 100%;
    width: auto;
}

.bottom img {
    height: 4cm;
    float: left;
    padding-left: 3cm;
    position: relative;
}

.img1 img {
    float: left;
    height: 7cm;
    width: 9cm;
    /* margin-top: 20px; */
    margin: 2% 2% 1% 2%;
}

.main h2 {
    text-align: center;
    width: 100%;
    color: rgb(255, 0, 0);
}

.main p {
    text-align: center;
    color: rgb(16, 23, 27);
    font-weight: 550;
}

.mains p {
    text-align: left;
    color: red;
    font-weight: 550;
}

.main p.detail1 {
    text-align: left;
    color: rgb(16, 23, 27);
    word-spacing: 5px;
    padding-left: 29.5%;
}

.main p.detail2 {
    text-align: left;
    color: rgb(16, 23, 27);
    word-spacing: 5px;
    padding-right: 29.5%;
    padding-left: 1%;
}

.main p.detail4 {
    text-align: left;
    color: rgb(16, 23, 27);
    word-spacing: 5px;
    padding-right: 29.5%;
    padding-left: 1%;
}

.main h1.heading {
    padding-top: 3%;
}

.main h1 {
    text-align: center;
    color: red;
}

.main h1.head {
    text-align: left;
    color: blue;
    padding-left: 1%;
}

.main h1.head2 {
    text-align: center;
    color: blue;
}

.main button {
    font-size: large;
    color: white;
    background-color: #04AA6D;
}

.img2 img {
    float: right;
    height: 7cm;
    width: 9cm;
    margin: 2% 2% 2% 1%;
}

.main {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(206, 204, 245, 0.6);
}

.img3 img {
    float: left;
    height: 7cm;
    width: 9cm;
    margin: 2% 2% 1% 2%;
}

.img4 img {
    float: right;
    height: 7cm;
    width: 9cm;
    margin: 2% 2% 2% 1%;
}

.main td {
    /* width: 20%; */
    width: fit-content;
    padding: 0% 0.9375rem;
    margin-left: 3%;
    margin-right: 1%;
    /* padding-left: 2%; */
}

.main tr {
    color: rgb(25, 0, 255);
}

.main th {
    padding-right: 0cm;
}

.bottom {
    display: flex;
    align-items: center;
    width: 90%;
}

.bottom table {
    margin-left: 55%;

}

.bottom caption {
    font-size: large;
    color: black;
    font-weight: bold;
}

.fb img {
    height: 2cm;
}

.img5 {
    height: 6cm;
    width: 30%;
    margin-right: 3%;
    float: left;
    padding-left: 1%;
    /* animation-name: example;
    animation-duration: 5s; */
}

.img6 {
    height: 6cm;
    width: 11cm;
    float: right;
    padding-right: 1%;
}

.img8 {
    height: 7cm;
    width: 17cm;
    padding-right: 1%;
}

.img7 {
    height: 7cm;
    width: 17cm;
    padding-left: 1%;
    margin-left: 2%;
    margin-right: 3%;
}

.main p.detail3 {
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
}

/* animation CSS */
.in {
    animation-duration: 4s;
    animation-name: slidein2;
}

.animation {
    animation-duration: 4s;
    animation-name: slidein;
}

.animation2 {
    animation-duration: 6s;
    animation-name: slidein;
}

.animation3 {
    animation-duration: 8s;
    animation-name: slidein;
}

.anime {
    animation-duration: 4s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        /* margin-right: 2%; */
        width: 100%;
    }
}

@keyframes slidein2 {
    from {
        margin-top: 100%;
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-top: 0%;
        margin-left: 0%;
        /* margin-right: 2%; */
        width: 100%;
    }
}

.video {
    text-align: center;
    position: relative;
}

@media screen and (max-width: 800px) {
    .topnav {
        display: grid;
        /* margin-right: 3%; */
        padding-left: 2%;
        padding-right: 2%;
    }

    .topnav img {
        margin-left: 30%;
    }

    .bottom table {
        display: none;
        overflow: hidden;
        visibility: hidden;
    }

    .formh1 {
        margin-right: 8%;
    }

    .img1 img {
        float: left;
        margin: 1% 7%;
    }

    .img2 img {
        float: left;
        margin: 1% 7%;
    }

    .img3 img {
        float: left;
        margin: 1% 7%;
    }

    .img4 img {
        float: left;
        margin: 1% 7%;
    }

    .img5 {
        float: left;
        margin: 1% 7%;
        width: 9cm;
    }

    .img6 {
        float: left;
        margin: 1% 7%;
        width: 9cm;
    }

    .img7 {
        float: left;
        margin: 1% 7%;
        width: 9cm;
    }

    .img8 {
        float: left;
        margin: 1% 7%;
        width: 9cm;
    }

    .video video {
        float: left;
        margin: 1% 7%;
        height: 7cm;
        width: 9cm;
    }

    .main p.detail1 {
        /* float: left; */
        /* margin: 1% 7%; */
        text-align: center;
        padding-left: 1%;
        padding-right: 1%;
    }

    .main p.detail2 {
        /* float: left; */
        text-align: center;
        padding-left: 1%;
        padding-right: 1%;
    }

    .main p.detail3 {
        /* float: left; */
        text-align: center;
        padding-left: 1%;
        padding-right: 1%;
    }

    .main p.detail4 {
        /* float: left; */
        text-align: center;
        padding-left: 1%;
        padding-right: 1%;
    }
}